version: '3.7'

services:
  php:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    environment:
      DB_HOST: mongo
      DB_USERNAME: root
      DB_PASSWORD: root
      DB_DATABASE: application
      DB_PORT: 27017
      DB_CONNECTION: mongodb
    volumes:
      - ./:/var/www/html
    networks:
      - traefik_proxy
  nginx:
    image: nginx:alpine
    volumes:
      - ./docker/nginx/:/etc/nginx/conf.d/:ro
      - .:/var/www/html
    networks:
      - traefik_proxy
    depends_on:
      - php
    labels:
      - "traefik.http.routers.nginx.rule=Host(`demo-mongo-app.docker.localhost`)"
      - "traefik.http.routers.nginx.entrypoints=web"
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root

networks:
  traefik_proxy:
    external:
      # change if network traefik has another name
      name: traefik_proxy
